.calc-result-block {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 15px;
}
.calc-result-header {
    padding: 5px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.calc-result-title{
    font-weight: 500;
}
.calc-result-price, .calc-result-days {
    font-size: 15px;
    font-weight: bold;
    color: #00428a;
}
.calc-result-info {
    padding: 10px;
}